.app-btn.btn-c {
    color: blue;
    border: 2px solid blue;
    background-color: white;
    border-radius: 100%;
    padding: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.screen-c {
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    max-width: 600px;
    height: 400px;
    overflow-y: auto;
    border: 3px solid blue;
    color: blue;
}

:focus {
    outline: none !important;
}